
<%= form_for @comment, url:batch_student_evaluation_comments_url(@batch, @student, @student.most_recent_evaluation), html: { method: :post } do |f|%>

  <div class="form-group">
    <%= f.text_area :content, class: "form-control" %><br />
  </div>

  <div class="form-group">
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  </div>
  <% end %>
