<h2> <%= @student.name %></h2>
<div class="container-student">
<div class="container-item-student">
    <div class="container-content-student">
      <p> Student id <%= @student.id %>  </p>
          <p> Class number #<%= @student.batch.number %>  </p>

          <p>placholder for form</p>

    </div>
  </div>

</div>
