<footer class="navbar-default navbar-static-bottom">
  <div class="container-fluid">
    <span> <h4> Evaluate Your Students </h4> <span>
    <span> <h4> Powered by Marjolein</h4> </span>
  </div>
</footer>
