
    <h1><%= @selected_student.name %></h1>
    <% @selected_student.photos.each do |photo| %>
    <%= image_tag photo.image.thumbnail %>
    <% end %>

    <div class= "eval <%=@selected_student.evaluations.last.color%>">
    </div>
