<h2>Classes of Codaisseur </h2> 

<div class="container-evalution">
    <% @batches.each do |batch| %>
  <div class="container-item-evaluation">
    <div class="container-content-evaluation">
      <h1>Batch <%=  batch.number %></h1>
      <%= link_to '<button class="btn-primary">See Class</button>'.html_safe, batch %>

    </div>
  </div>
    <% end %>

</div>
