<h2>Classes of Codaisseur </h2>

<div class="container-evalution">

    <% @batches.each do |batch| %>
  <div class="container-item-evaluation">
    <div class="container-content-evaluation">
      <h1>Batch <%=  batch.number %></h1>
      <button class="btn-primary"> <%= link_to "See Class", batch %></button>
    </div>
  </div>
    <% end %>

</div>
